body { 	height: 600px;
		width: 600px; 
}

#jeu {
	display: grid;
	grid-template-rows: 200px 200px 200px;
	grid-template-columns: 200px 200px 200px;
}

#jeu div {
	border: 1px solid;
}

#x1y1 {
	background-color: red;
}

.player1 {
	background-color: green;
}

.player2 {
	background-color: red;
}